
/*************************************************** FONT ***************************************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300|Bitter:400,700); 
/*************************************************** BODY ***************************************************/
html, body {
	background-color: whitesmoke;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
}

div#main-container {
	position: relative;
	min-height: 100%;
}

.content {
	max-width: 1100px;
	margin: auto;
	font-family: "Bitter";
	color: grey;
}
/*************************************************** HEADER ***************************************************/
#header-container {
	background: url(../img/header.jpg) no-repeat center;
	background-size: cover;
}

#header {
	padding: 15px;
	font-family: "Bitter";
	display: block;
	text-align: center;
	color: whitesmoke;
}

#header img {
	margin: 1.5em 0 0 0;
}

#header h1 {
	font-size: 2.5em;
	line-height: 1.1em;
	margin: 0 0 0.1em 0;
}

#header h3 {
	font-weight: 400;
	font-style: italic;
}
/*************************************************** CONTENT ***************************************************/
#content-container {
	padding: 30px 30px 88px 30px;
}
/*************************************************** FOOTER ***************************************************/
#footer-container {
	background: url(../img/header.jpg) no-repeat center;
	background-size: cover;
	padding: 30px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
/*************************************************** FONT ICONS ***************************************************/
.footer-icon {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	margin-right: 0.3em;
}
.footer-icon i {
	transition: all .25s ease;
}

.footer-icon-right {
	float: right;
}

.footer-icon:hover i {
	transform: scale(1.2);
}

.footer-icon:hover i.fa-twitter {
	color: #28A9E0;
}

.footer-icon:hover i.fa-envelope {
	color: #F14D4D;
}

.footer-icon:hover i.fa-twitch {
	color: #6441A5;
}

.footer-icon:hover i.fa-steam {
	color: #4C6B22;
}

.footer-icon:hover i.fa-github {
	color: #4078C0;
}
/*************************************************** END ***************************************************/